{% extends "base.html" %}
{% load static %}

{% block content%}

    <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/match_background.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">Matches</h1>
            <p class="mt-4">Our match reports from the recent games are on this page</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Match posts -->

<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="text-black">Latest Matches</h2>
          </div>
        </div>
        <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
    {% for match in match_list %}
    <div class="post-entry">
        <div class="text p-4">
            <h2 class="h5 text-black">{{ match.title }}</h2>
                <div class="image">
                    <img src="{{ match.image.url }}" alt="Image" class="img-fluid">
                </div>
            <span class="text-uppercase date d-block mb-3"><small>{{ match.author }} | {{ match.created_on}}</small></span>
            <a href="{% url 'match_detail' match.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
 </div>
</div>


{% endblock %}

