{% extends "base.html" %}
{% load static %}

{% block content %}
  
<div class="site-blocks-cover overlay" style="background-image: url({% static 'images/baz_flip.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-start">
            <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">News</h1>
            <p class="mt-4">Check out our latests updates on this page.</p>
            </div>
        </div>
    </div>
</div>

<!-- News posts -->

<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="text-black">Latest News</h2>
          </div>
        </div>
        <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
    <div class="post-entry">
        {% for post in post_list %}
        <div class="text p-4">
            <h2 class="h5 text-black">{{ post.title }}</h2>
                <div class="image">
                    <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                </div>
            <span class="text-uppercase date d-block mb-3"><small>{{ post.author }} | {{ post.created_on}}</small></span>
            <p class="mb-0">{{post.content | slice:":200" | safe}}</p>
            <a href="{% url 'news_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        {% endfor %}
        </div>
    </div>
    </div>
 </div>
</div>
      
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                  </ul>
                </div>
              </div>
        </div>
      </div>
    </div>

<!-- {% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %} -->

{% endblock %}